@model RoboticsWebsite.Models.CalendarViewModel

<div>
    <div class="pull-right-top">@Model.CurrentDay</div>
    <div class="pull-left-top">
        @*<div class="myButton">+</div>*@
        <button class="myButton" value="+" onclick="createEvent();">+</button>
    </div>
    <span title="thisTitle"></span>
</div>

