@model RoboticsWebsite.Models.CalendarViewModel


@*<div class="new-event-form">
    x
    x
    x
    x
    //using (Html.BeginForm("Month", "Calendar"))
    //{
        Model.NewEvent.Title = "HEYO!";
        <input type="submit" id="submit" hidden />
    //}
</div>*@
