@model RoboticsWebsite.Models.CalendarViewModel

<div>
    <div class="view-event-title">
        <h3>@Model.CurrentMonth @Model.CurrentDay</h3>
    </div>
    <table class="view-event-table">
   
    @for(int i = 0; i < 24; i ++)
    {       
            string time;
            if(i == 0)
            {
                time = "12:00 AM";
            }
            else if(i < 13)
            {
                time = i + ":00 AM";
            }
            else
            {
                time = (i - 12) + ":00 PM";
            }
        
        <tr>
            <td>
                @time
            </td>
            <td>

            </td>
        </tr>
    }
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-sm close-day-view" style="float: right">Cancel</button>
        </td>   
    </tr>
    </table>
    
</div>
