
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donate</h2>
<br />
<h4>Donation Amount </h4>
@using (Html.BeginForm("Donate", "Home"))
{
    <div style="font-size: medium; font-weight: bold">
        $ <input type="number" name="Amount" />
        <input type="submit" value="Donate" />
    </div>
}