
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donate</h2>

Donation Amount 
@using (Html.BeginForm("Donate", "Home"))
{
    <div>$</div><input type="number" name="Amount" />
    <input type="submit" value="Donate" />
}