@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Search Events", "SearchEvents", "Home")
@Html.ActionLink("Total Donations", "TotalDonations", "Home")
@Html.ActionLink("Donate", "Donate", "Home");